@using WebApplication1.Business.Logic.Contest
@model WebApplication1.ViewModels.HorseOrderViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>HorseOrder</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.HorseOrder.HorseOrderId)
    <div class="form-group">
        @Html.LabelFor(model => model.HorseOrder.StartNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HorseOrder.StartNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HorseOrder.StartNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HorseOrder.HorseId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.DropDownListFor(model => model.HorseOrder.HorseId, Model.HorsesLungersSelectList)
                @Html.ValidationMessageFor(model => model.HorseOrder.HorseId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HorseOrder.VaultingTeamId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.DropDownListFor(model => model.HorseOrder.VaultingTeamId, Model.TeamsSelectList)
                @Html.ValidationMessageFor(model => model.HorseOrder.VaultingTeamId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HorseOrder.TeamTestnumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.HorseOrder.TeamTestnumber, Model.StepsSelectList)
            @Html.ValidationMessageFor(model => model.HorseOrder.TeamTestnumber, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HorseOrder.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HorseOrder.IsActive, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HorseOrder.IsActive, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.HorseOrder.StartListClassStepId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.HorseOrder.StartListClassStepId, Model.StartListClassStepsSelectList)
            @Html.ValidationMessageFor(model => model.HorseOrder.StartListClassStepId, "", new { @class = "text-danger" })

            
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
