@model WebApplication1.Models.HorseOrder

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamTestnumber)
        </th>
        <th></th>
    </tr>

@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamTestnumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HorseOrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HorseOrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HorseOrderId })
        </td>
    </tr>
}*@

</table>
