@using WebApplication1.Models
@model List<string[]>

@{
    ViewBag.Title = "View";
}




<table class="table">

    <tr>
        <th>
            Klass
        </th>
        <th>
           Namn
        </th>
        <th>
            Antal domare
        </th>
        <th>
            Moment1
        </th>
        <th>
            Moment2
        </th>
        <th>
            Moment3        
        </th>
        <th>
            Moment4
        </th>
        <th>
            Moment1 (A,B,C,D)
        </th>
        <th>
            Moment2 (A,B,C,D)
        </th>
        <th>
            Moment3 (A,B,C,D)
        </th>
        <th>
            Moment4 (A,B,C,D)
        </th>

    </tr>

    @{int startnumber;}
    @foreach (var classesList in Model)
    {
        startnumber = 0;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => classesList[0])
            </td>
            <td>
                @Html.DisplayFor(modelItem => classesList[1])
            </td>
            <td>
                @Html.DisplayFor(modelItem => classesList[2])
            </td>
            <td>
                @Html.DisplayFor(modelItem => classesList[3])
            </td>
            <td>
                @Html.DisplayFor(modelItem => classesList[4])
            </td>
            <td>
                @Html.DisplayFor(modelItem => classesList[5])
            </td>
            <td>
                @Html.DisplayFor(modelItem => classesList[6])
            </td>
            <td>
                @Html.DisplayFor(modelItem => classesList[7])
            </td>
            <td>
                @Html.DisplayFor(modelItem => classesList[8])
            </td>
            <td>
                @Html.DisplayFor(modelItem => classesList[9])
            </td>
            <td>
                @Html.DisplayFor(modelItem => classesList[10])
            </td>
        </tr>





    }
</table>
