@using WebApplication1.Classes
@using WebApplication1.Models
@model WebApplication1.Models.Contest

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
   

@*@foreach (var startListClass in Model.StartListClass?.OrderBy(x => x.StartOrder))
{*@
    @{int startnumber;}
    @foreach (var startListClassStep in Model.StartListClassStep.OrderBy(x => x.StartOrder))
    {
        startnumber = 0;
        <tr>
            <th>
                @startListClassStep.Date.ToLocalTime()
               
            </th>
            <th colspan="4">
                @Html.DisplayFor(modelItem => startListClassStep.Name) <BR />
                </th>
           
            <th>


                @*@Html.ActionLink("Edit", "Edit", new { id= startListClass.StartListClassI
                                    Dommare A: @Html.DisplayFor(modelItem => startListClassStep.JudgeTables[0])
d }) |
                    @Html.ActionLink("Details", "Details", new { id= startListClass.StartListClassId }) |
                    @Html.ActionLink("Delete", "Delete", new { id= startListClass.StartListClassId })*@
            </th>
        </tr>
        <tr>
            <td>
            </td>
            <td colspan="4">
                @if (!string.IsNullOrWhiteSpace(startListClassStep.GetJudgeName(JudgeTableNames.A)))
                {
                    <div>
                        Domare A:@startListClassStep.GetJudgeName(JudgeTableNames.A) B: @startListClassStep.GetJudgeName(JudgeTableNames.B)
                        C: @startListClassStep.GetJudgeName(JudgeTableNames.C) D: @startListClassStep.GetJudgeName(JudgeTableNames.D)
                    </div>
                }

            </td><td></td>
        </tr>
        foreach (var startListItem in startListClassStep.GetActiveStartList().OrderBy(x => x.StartNumber))
        {
            if (startListItem.IsTeam)
            {
                startnumber++;

                <tr>
                    <td>
                        @startnumber.ToString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => startListItem.VaultingTeam.Name)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => startListItem.HorseInformation.HorseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => startListItem.HorseInformation.Lunger.LungerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => startListItem.VaultingTeam.VaultingClass.ClassName)
                        @(ExcelPreCompetitionData.GetCompetitionStep(Model.TypeOfContest, startListItem.VaultingTeam.VaultingClass, startListItem.TeamTestnumber)?.Name)                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => startListItem.VaultingTeam.VaultingClub.ClubName)
                        <br />Voltigörer: <br />
                        @foreach (var vaulter in startListItem.VaultingTeam.TeamList.OrderBy(x => x.StartNumber))
                        {
                            @(vaulter.Participant.Name )
                            <br />

                        }
                    </td>
                </tr>

            }
            else
            {
                                foreach (var vaulters in startListItem.GetActiveVaulters().OrderBy(x => x.StartOrder))
                                {

                                    startnumber++;

                <tr>
                    <td>
                        @startnumber.ToString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => vaulters.Participant.Name)
                        (@Html.DisplayFor(modelItem => vaulters.Participant.Armband))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => startListItem.HorseInformation.HorseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => startListItem.HorseInformation.Lunger.LungerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => vaulters.Participant.VaultingClass.ClassName)
                                        @(ExcelPreCompetitionData.GetCompetitionStep(Model.TypeOfContest, vaulters.Participant.VaultingClass, vaulters.Testnumber)?.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => vaulters.Participant.VaultingClub.ClubName)

                    </td>
                </tr>
                                }
                            }

                        }

    @*}*@
    }
</table>
