@using WebApplication1.Models
@model WebApplication1.Models.Contest

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
   

@*@foreach (var startListClass in Model.StartListClass?.OrderBy(x => x.StartOrder))
{*@
    @{int startnumber = 1;}
    @foreach (var startListClassStep in Model.StartListClassStep.OrderBy(x => x.StartOrder))
    {
        startnumber = 0;
        <tr>
            <th>
                @Html.DisplayFor(modelItem => startListClassStep.Date)
            </th>
            <th>
                @Html.DisplayFor(modelItem => startListClassStep.Name) <BR />
                </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>


                @*@Html.ActionLink("Edit", "Edit", new { id= startListClass.StartListClassI
                                    Dommare A: @Html.DisplayFor(modelItem => startListClassStep.JudgeTables[0])
d }) |
                    @Html.ActionLink("Details", "Details", new { id= startListClass.StartListClassId }) |
                    @Html.ActionLink("Delete", "Delete", new { id= startListClass.StartListClassId })*@
            </th>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                Domare A: @startListClassStep.GetJudgeName(JudgeTableNames.A) B: @startListClassStep.GetJudgeName(JudgeTableNames.B)<br />
                C: @startListClassStep.GetJudgeName(JudgeTableNames.C) D: @startListClassStep.GetJudgeName(JudgeTableNames.D)


            </td><td></td><td></td><td></td><td></td>
        </tr>
        foreach (var startListItem in startListClassStep.StartList.OrderBy(x => x.StartNumber))
                {
                    foreach (var vaulters in startListItem.Vaulters.OrderBy(x => x.StartOrder))
                    {
                        startnumber++;

                <tr>
                    <td>
                        @startnumber.ToString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => vaulters.Participant.Name)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => startListItem.HorseInformation.HorseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => startListItem.HorseInformation.Lunger.LungerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => vaulters.Participant.VaultingClass.ClassName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => vaulters.Participant.VaultingClub.ClubName)

                    </td>
                </tr>
                    }
                }

    @*}*@
}
</table>
